@media (max-width: 1000px){
    .logo img {
        width: 50px;
        height: 50px;
    }
    *{
        font-size: 17px;
    }
    .ct-1{
        font-size: 1px;
    }
    .circle {
        right: -15px;

    }
}

@media (max-width: 800px){
    .menu {
        display: flex;
        font-size: 30px;
    }
    .social-icons-nav{
        display: none;
    }
    .disabled{
        display: inline-block;
    }
    *{
        font-size: 15px;
    }
}
@media (max-width: 692px){
    .logo-text {
        display: none;
    }
    .ct-1{
        font-size: 100px;
    }
}
@media (max-width: 500px){
    .contacts{
        display: none;
    }
    .logo-text{
        display: inline-block;
        font-size: 17px; 
    }
    .drop_down svg{
        width: 40px;
    }
    .drop-container{
        height: 150px;
    }
    .drop-menu-item-3, .drop-menu-item-4{
        display: flex;
    }
}
@media (max-width: 430px){
    .drop-container{
        right: -5px;
    }
}
